[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e906";
}
.icon-top:before {
  content: "\e907";
}
.icon-bottom:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-two:before {
  content: "\e90a";
}
.icon-four:before {
  content: "\e90b";
}
.icon-fill-right-bottom:before {
  content: "\e90c";
}
.icon-power:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-question:before {
  content: "\e90f";
}
.icon-letter:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-minus:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-fill-left:before {
  content: "\e915";
}
.icon-fill-right:before {
  content: "\e916";
}
.icon-fill-top:before {
  content: "\e917";
}
.icon-fill-bottom:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e919";
}
.icon-youtube:before {
  content: "\e91a";
}