.button-white {
    display: block;
    height: 48px;
    border: solid 1px $color-black-one;
    background: white;
    color: $color-black-one;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    transition: all ease .3s;
    margin: 20px 0;
    &:hover {
        background: $color-black-one;
        color: white;
    }
}

.button-black {
    display: block;
    height: 48px;
    border: solid 1px $color-black-one;
    background: $color-black-one;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    transition: all ease .3s;
    margin: 20px 0;
    &:hover {
        background: white;
        color: $color-black-one;
    }
}

.button-link {
    text-decoration: underline;
    color: $color-black-two;
    font-size: 14px;
    display: block;
    letter-spacing: .8px;
    text-align: center;
    margin: 20px 0;
}

.big-button {
    padding: 27px;
    background: #2b63ea;
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    span {
        padding-left: 10px;
        border-left: 4px solid white;
        display: block;
        line-height: 30px;
        letter-spacing: .5px;
        font-weight: bold;
        font-size: 16px;
    }
}