.cart-one {
    width: 100%;
    background: url("../img/example2.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    &::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
        z-index: -1;
        border: 1px solid rgba(0, 0, 0, 0);
        content: "";
        transition: all ease .1s;
        position: absolute;
        top: -5px;
        left: -5px;
    }
    &:hover {
        &::after {
            border: 1px solid black;
        }
    }
    h1 {
        color: white;
        letter-spacing: 1px;
        line-height: 30px;
        padding-left: 10px;
        border-left: 4px solid #2b63ea;
        margin: 0;
        position: absolute;
        bottom: 40px;
        left: 20px;
    }
}

.cart-two {
    width: 100%;
    background: url("../img/example2.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .cart-info {
        position: absolute;
        bottom: 40px;
        left: 20px;
        h1 {
            color: white;
            letter-spacing: 1px;
            line-height: 30px;
            margin: 0;
        }
        p {
            padding-left: 8px;
            border-left: 4px solid #2b63ea;
            font-size: 14px;
            color: white;
        }
        .cart-button {
            display: inline-block;
            height: 48px;
            background: black;
            padding: 0 18px;
            font-size: 16px;
            line-height: 48px;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
        }
    }
}