$color-black-one: #000000;
$color-black-two: #57595C;
$color-black-three: #CCCCCC;

$color-gray-one: #efefef;
$color-gray-two: #f8f8f8;
$color-gray-three: #ffffff;

$color-blue-one: #003b71;
$color-blue-two: #2b63ea;
$color-blue-three: #edf2fc;

