.filters-top {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1100px) {
        border-bottom: solid 1px #efefef;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
    }
    .filters {
        cursor: pointer;
        font-size: 14px;
        letter-spacing: .8px;
        color: #57595c;
        width: 33%;
        font-weight: 300;
        >span {
            color: rgb(43, 99, 234);
            font-size: 13px;
            margin-left: 6px;
        }
    }
    .items-size {
        font-size: 14px;
        letter-spacing: .8px;
        color: #57595c;
        width: 33%;
        text-align: center;
        font-weight: 300;
    }
    .views {
        cursor: pointer;
        width: 33%;
        text-align: right;
        height: 58px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >span {
            color: #cccccc;
            font-size: 7px;
            margin-left: 10px;
            height: 58px;
            line-height: 58px;
            &.active {
                color: rgb(43, 99, 234);
            }
        }
    }
}