 .footer {
     display: none;
     @media(min-width: 1100px) {
         display: block;
     }
     height: 76px;
     border-bottom: solid 1px #efefef;
     border-top: solid 1px #efefef;
     background-color: #f8f8f8;
     margin-top: 50px;
     margin-bottom: 30px;
     width: 100%;
     overflow: hidden;
     ul {
         display: flex;
         list-style: none;
         padding: 0;
         justify-content: space-between;
         margin: 0 auto;
         padding: 0 20px;
         max-width: 1140px;
         height: 100%;
         align-items: center;
         li {
             width: 25%;
             text-align: center;
             border-right: solid 1px gray;
             display: block;
             &:last-child {
                 border-right: none;
             }
             a {
                 white-space: nowrap;
                 display: block;
                 text-decoration: none;
                 font-size: 14px;
                 color: #57595c;
                 font-weight: 300;
                 letter-spacing: 0.8px;
                 padding: 0 10px;
             }
         }
     }
 }

 .footer-social {
     display: none;
     @media(min-width: 1100px) {
         display: flex;
         margin-bottom: 30px
     }
 }