.icon-wrapper{
    width: calc(100% + 20px);
    margin: 0 -10px;
    flex-wrap: wrap;
    display: flex;
    > .icon{
        margin: 10px;
        width: calc(50% - 20px);
        border: solid 1px $color-black-three;
        flex-grow: 1;
        padding: 20px 0;
        text-align: center;
        color: $color-blue-two;
    }
}