.page-up {
    width: 29px;
    height: 29px;
    background-color: #2b63ea;
    position: fixed;
    right: 20px;
    bottom: -69px;
    text-align: center;
    line-height: 31px;
    font-size: 13px;
    transition: all ease .2s;
    z-index: 1;
    cursor: pointer;
    &.active {
        bottom: 20px;
    }
    &.active2 {
        bottom: 72px;
        @media(min-width: 1120px) {
            bottom: 20px;
        }
    }
    span {
        color: white;
        text-align: center;
    }
}