.range-slider {
    height: 3px;
    border: none;
    box-shadow: none;
    background: rgb(239, 239, 239);
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.noUi-connect {
    background: $color-blue-two;
}

.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    background: $color-blue-two;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    outline: none;
    text-indent: -9999px;
    &::before,
    &::after {
        display: none;
    }
}
html:not([dir=rtl]) .noUi-horizontal .noUi-origin{
    left: -9px;
}