.see-all {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(87, 89, 92);
    span {
        color: $color-blue-two;
        margin-left: 11px;
        font-size: 11px;
    }
}