.variation {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border-bottom: 1px solid rgb(239, 239, 239);
        height: 50px;
        @media (min-width: 1100px) {
            justify-content: center;
        }
        li {
            border-bottom: solid 2px rgba(239, 239, 239, 0);
            transition: all ease .2s;
            margin-bottom: -1px;
            @media (min-width: 1100px) {
                margin: 0 17px;
                margin-bottom: -1px;
            }
            &.active {
                border-bottom: solid 2px black;
            }
            a {
                text-decoration: none;
                color: black;
                display: inline-block;
                height: 100%;
                font-size: 14px;
                font-weight: 300;
                line-height: 48px;
                @media (min-width: 1100px) {
                    font-size: 16px;
                }
            }
            &:hover {
                border-bottom: solid 2px black;
            }
        }
    }
}

.variation-two {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        border-bottom: 1px solid rgb(239, 239, 239);
        border-top: 1px solid rgb(239, 239, 239);
        height: 50px;
        li {
            border-bottom: solid 2px rgba(239, 239, 239, 0);
            transition: all ease .2s;
            width: 100%;
            margin-bottom: -1px;
            &.active {
                border-bottom: solid 2px black;
            }
            a {
                text-decoration: none;
                color: black;
                display: block;
                height: 100%;
                font-size: 16px;
                line-height: 48px;
                text-align: center;
                font-weight: 300;
            }
            &:hover {
                border-bottom: solid 2px black;
            }
        }
    }
}

.variation-three {
    position: absolute;
    top: 0;
    width: calc(100% - 91px);
    padding-left: 20px;
    @media (min-width: 1100px) {
        border-bottom: solid 1px #efefef;
        position: static;
        width: 100%;
        padding: 0;
    }
    div {
        background: white;
        @media (min-width: 1100px) {
            height: 56px;
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 20px;
            background: white;
        }
        a {
            line-height: 49px;
            font-size: 14px;
            color: black;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            display: block;
            @media (min-width: 1100px) {
                line-height: 55px;
            }
            span {
                font-size: 16px;
                margin-right: 8px;
                position: relative;
                bottom: -3px;
                @media (min-width: 1100px) {
                    margin-right: 10px;
                    font-size: 17px;
                }
            }
        }
    }
}