.going-list {
    padding: 0 20px 20px;
    max-width: 1160px;
    margin: 0 auto;
    @media (min-width: 1100px) {
        display: flex;
        flex-wrap: wrap;
    }
    > h1 {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: .3px;
        text-align: center;
        padding: 10px 20px;
        width: 100%;
        @media (min-width: 1100px) {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    .item {
        width: 100%;
        margin-bottom: 25px;
        @media (min-width: 1100px) {
            width: calc(33.3% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
        .img {
            width: 100%;
            position: relative;
            background: url("../img/example2.jpg") center center no-repeat;
            background-size: cover;
            &::before {
                content: "";
                display: block;
                padding-top: 50%;
            }
        }
        >h2{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.5px;
            margin: 10px 0;
        }
        > p{
            font-size: 16px;
            letter-spacing: 0.1px;
            color: rgb(87, 89 ,92);
            font-weight: 300;
        }
    }
}