.help {
    padding: 0 30px;
    min-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: .3px;
        text-align: center;
        color: black;
        margin: 15px 0 4px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    .choose-all {
        margin-bottom: 30px;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-top: 20px;
        .choose {
            width: calc(50% - 20px);
            display: flex;
            border: solid 1px #efefef;
            margin: 10px;
            float: left;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 24px 0;
            text-decoration: none;
            color: rgb(87, 89, 92);
            position: relative;
            &:after {
                width: 0;
                height: 100%;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background: $color-blue-two;
                transition: all ease .1s;
            }
            img {
                margin-bottom: 15px;
            }
            span {
                display: block;
                font-size: 14px;
                letter-spacing: .8px;
                font-weight: 300;
                color: rgb(87, 89, 92);
            }
            &:hover {
                &:after {
                    width: 4px;
                }
            }
        }
    }
    .button-black {
        margin: auto 10px 40px;
        letter-spacing: 1px;
    }
}