.fabric {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 35px;
    float: left;
    &:after {
        padding-top: 165%;
        content: "";
        display: block;
        @media (min-width: 1100px) {
            padding-top: 53%;
        }
    }
    .info {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        @media (min-width: 1100px) {
            margin-bottom: 120px;
        }
        h1 {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 1px;
            color: white;
            @media (min-width: 1100px) {
                font-size: 36px;
            }
        }
        p {
            font-size: 14px;
            color: white;
            border-left: solid 3px $color-blue-two;
            padding-left: 8px;
            @media (min-width: 1100px) {
                font-size: 20px;
                line-height: 25px;
                margin: 20px 0 40px;
                padding-left: 10px;
            }
        }
        a {
            color: white;
            display: block;
            border: solid 1px white;
            text-align: center;
            text-decoration: none;
            max-width: 220px;
            line-height: 40px;
            font-weight: 300;
            font-size: 14px;
            @media (min-width: 1100px) {
                line-height: 48px;
            }
        }
    }
}